.buttonWhite {
    -fx-background-color: white;
    -fx-text-fill: #2778f3;
    -fx-font-size: 12;
    -fx-pref-height: 25;
    -fx-background-radius: 40;
}

.buttonBlue {
    -fx-background-color: #2778f3;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-pref-height: 25;
    -fx-background-radius: 40;
}

.search {
    -fx-background-color: rgba(39, 120, 243, 0.25);
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-background-radius: 40;
}

.menu-bar {
    -fx-background-color: #2778f3;
    -fx-text-fill: white;
    -fx-font-size: 12;
}

.navbar {
    -fx-background-color: #D3D3D3;
}

.border {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
    -fx-top-margin: 10;
    -fx-bottom-margin: 10;
}

.title {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.labelBleu {
    -fx-font-size: 12;
    -fx-text-fill: #2778f3;
}

.hyperlink {
    -fx-text-fill: #2778f3;
}

.hyperlink:hover {
    -fx-text-fill: rgba(142, 75, 250, 0.75);
}

.buttonBoxShadow {
    -fx-background-color: white;
    -fx-text-fill: #2778f3;
    -fx-font-size: 12;
    -fx-pref-height: 25;
    -fx-background-radius: 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.textField {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-background-radius: 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.underline {
    -fx-underline: true !important;
    -fx-font-weight: bold;
}